<?php

/**
 * @author Ammar Faizi <ammarfaizi2@gmail.com>
 * @license MIT
 */


define("SUDOERS", []);
define("CHANNEL_ACCESS_TOKEN", "");


/**
 * Database.
 */
define("DB_HOST", "localhost");
define("DB_USER", "root");
define("DB_PASS", "858869123icetea");
define("DB_NAME", "pg2ice");
define("DB_PORT", "3306");

/**
 * Storage and public path.
 */
define("PRIVATE_STORAGE", BASEPATH."/storage");
define("PUBLIC_PATH", BASEPATH."/public");
define("STORAGE", PUBLIC_PATH."/storage");
define("data", STORAGE."/data");
define("LOG_DIR", __DIR__."/logs");

