<?php

/**
 * @author Ammar Faizi <ammarfaizi2@gmail.com>
 * @license MIT
 */

/**
 * Token.
 */
define("TOKEN", "");

/**
 * Global Admin and Sudoers.
 */
define("SUDOERS", [243692601]);
define("GLOBAL_ADMIN", [243692601]);


/**
 * Database.
 */
define("DB_HOST", "localhost");
define("DB_USER", "root");
define("DB_PASS", "");
define("DB_NAME", "pg2ice");
define("DB_PORT", "3306");

/**
 * Storage and public path.
 */
define("PRIVATE_STORAGE", BASEPATH."/storage");
define("PUBLIC_PATH", BASEPATH."/public");
define("STORAGE", PUBLIC_PATH."/storage");
define("data", STORAGE."/data");
define("LOG_DIR", __DIR__."/logs");

/**
 * Virtualizor
 */
define("VIRTUALIZOR_DIR", PUBLIC_PATH."/virtual");
define("VIRTUALIZOR_URL", "http://localhost/virtual");

/**
 * MyAnimeList
 */
define("MAL_USER", "ammarfaizi2");
define("MAL_PASS", "triosemut123");
